%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{deps, [
  {'sync', ".*", {git, "https://github.com/rustyio/sync.git", "master"}},

  {'jiffy', ".*", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}}
]}.
